@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-zilla: 'Zilla Slab', serif;
}

body {
  font-family: var(--font-poppins);
}

@layer utilities {
  .font-poppins {
    font-family: var(--font-poppins);
  }
  .font-zilla {
    font-family: var(--font-zilla);
  }
}

